### 1) What is linearity in linear regression

Linearity: The relationship between X and the mean of Y is linear.
#In linear regression, "linearity" refers to the assumption that there is a linear relationship between the independent #variable(s) and the dependent variable

In linear regression, the term "linearity" refers to the assumption that the relationship between the independent variable(s) and the dependent variable can be adequately represented by a straight line. In other words, it assumes that the change in the dependent variable is proportional to a change in the independent variable(s), resulting in a linear pattern when plotted on a graph.

### 2) Impact of outliers in machine learning models
outliers can have a significant impact on the accuracy and reliability of your machine learning regression model
#The model can become overly sensitive to these points, leading to overfitting
#An outlier is a data point that is significantly different from other data points in the dataset. The presence of outliers can affect various aspects of machine learning models and their outcomes
Model Accuracy and Performance
Robustness
Overfitting
Outliers
Data Preprocessing
Model Generalization
Residual Analysis

### 3) Feature scaling techniques
1. Normalization (Min-Max Scaling):

Normalization scales the data to a specific range, typically between 0 and 1. It's useful when you want to preserve the
relative relationships between data points while ensuring that all features have the same scale.

2. Standardization (Z-score Scaling):
Standardization transforms the data to have a mean of 0 and a standard deviation of 1. This technique assume
that the data follows a Gaussian distribution.


3 Min-max normalization is one of the most common ways to normalize data. For every feature, the minimum value of that feature gets transformed into a 0, the maximum value gets transformed into a 1, and every other value gets transformed into a decimal between 0 and 1

4.Log Transformation:
		 It is useful when the data is highly skewed, which can be problematic for some algorithms. Applying a logarithm can make the data more symmetrical.
         
5.Power Transformation (Box-Cox and Yeo-Johnson):
			-These transformations are used when data has non-constant variance across its range. Box-Cox is suitable for positive values only, while Yeo-Johnson works for both positive and negative values.
            
6.Quantile Transformation:
	     This technique transforms the data to follow a uniform or normal distribution. It's particularly useful when dealing with non-Gaussian, skewed data.
         
7.Unit Vector Scaling (Vector Normalization):
	    Scales each feature vector to have a length of 1, turning them into unit vectors.
	    -Often used in text classification and clustering algorithms like K-Means.

### 4) What are the common problems with decision tree and how to overcome it

Overfitting:

Problem: Decision trees can become overly complex and fit the training data noise.
Solution: Pruning, limiting tree depth, or using ensemble methods like Random Forests can reduce overfitting.

Instability:

Problem: Small changes in the data can lead to significantly different tree structures.
Solution: Use ensemble methods, such as Random Forests, to average out variability and improve stability.

Bias Toward Dominant Classes:

Problem: Decision trees may favor features with many levels, leading to class imbalance issues.
Solution: Adjust the splitting criterion or balance class distribution in the training data


Scalability:

Problem: Decision trees can be slow on large datasets with many features.
Solution: Consider dimensionality reduction or feature selection, and use parallel processing if possible.

### FEATURE SCALING

In [1]:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv(r"C:\Users\arjun.LAPTOP-EJ7415CC\Downloads\heart.csv")
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [3]:
df.size

4242

In [4]:
df.shape

(303, 14)

In [5]:
df.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [6]:
df.ndim

2

In [7]:
df.isna().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [8]:
df.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [9]:
df.duplicated().sum()

1

In [10]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(df.drop('target',axis=1))
scaled = scaler.transform(df.drop('target',axis=1))
scaleddf = pd.DataFrame(scaled,columns=df.columns[:-1])

In [11]:
scaleddf.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,0.952197,0.681005,1.973123,0.763956,-0.256334,2.394438,-1.005832,0.015443,-0.696631,1.087338,-2.274579,-0.714429,-2.148873
1,-1.915313,0.681005,1.002577,-0.092738,0.072199,-0.417635,0.898962,1.633471,-0.696631,2.122573,-2.274579,-0.714429,-0.512922
2,-1.474158,-1.468418,0.032031,-0.092738,-0.816773,-0.417635,-1.005832,0.977514,-0.696631,0.310912,0.976352,-0.714429,-0.512922
3,0.180175,0.681005,0.032031,-0.663867,-0.198357,-0.417635,0.898962,1.239897,-0.696631,-0.206705,0.976352,-0.714429,-0.512922
4,0.290464,-1.468418,-0.938515,-0.663867,2.082050,-0.417635,0.898962,0.583939,1.435481,-0.379244,0.976352,-0.714429,-0.512922

### LABEL ENCODING

In [13]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [14]:
df = pd.read_csv(r"C:\Users\arjun.LAPTOP-EJ7415CC\Downloads\car_evaluation.csv")

In [15]:
df.head(10)

   vhigh vhigh.1  2 2.1  small   low  unacc
0  vhigh   vhigh  2   2  small   med  unacc
1  vhigh   vhigh  2   2  small  high  unacc
2  vhigh   vhigh  2   2    med   low  unacc
3  vhigh   vhigh  2   2    med   med  unacc
4  vhigh   vhigh  2   2    med  high  unacc
5  vhigh   vhigh  2   2    big   low  unacc
6  vhigh   vhigh  2   2    big   med  unacc
7  vhigh   vhigh  2   2    big  high  unacc
8  vhigh   vhigh  2   4  small   low  unacc
9  vhigh   vhigh  2   4  small   med  unacc

In [16]:
col_names=['buying','maint','doors','persons','lug_boot','safety','class']

In [17]:
df.columns=col_names

In [18]:
df.columns

Index(['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety', 'class'], dtype='object')

In [19]:
x=df.drop("class",axis=1)
x

     buying  maint  doors persons lug_boot safety
0     vhigh  vhigh      2       2    small    med
1     vhigh  vhigh      2       2    small   high
2     vhigh  vhigh      2       2      med    low
3     vhigh  vhigh      2       2      med    med
4     vhigh  vhigh      2       2      med   high
...     ...    ...    ...     ...      ...    ...
1722    low    low  5more    more      med    med
1723    low    low  5more    more      med   high
1724    low    low  5more    more      big    low
1725    low    low  5more    more      big    med
1726    low    low  5more    more      big   high

[1727 rows x 6 columns]

In [20]:
y = df["class"]
y

0       unacc
1       unacc
2       unacc
3       unacc
4       unacc
        ...
1722     good
1723    vgood
1724    unacc
1725     good
1726    vgood
Name: class, Length: 1727, dtype: object

In [21]:
from sklearn.model_selection import train_test_split #scikitlearn  library
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=100)

In [22]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(1295, 6)
(432, 6)
(1295,)
(432,)

In [23]:
from sklearn.preprocessing import OrdinalEncoder
a=OrdinalEncoder()
aa=a.fit_transform(df[['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety', 'class']])
type(aa)

numpy.ndarray

In [24]:
adataframe=pd.DataFrame(aa)
adataframe

        0    1    2    3    4    5    6
0     3.0  3.0  0.0  0.0  2.0  2.0  2.0
1     3.0  3.0  0.0  0.0  2.0  0.0  2.0
2     3.0  3.0  0.0  0.0  1.0  1.0  2.0
3     3.0  3.0  0.0  0.0  1.0  2.0  2.0
4     3.0  3.0  0.0  0.0  1.0  0.0  2.0
...   ...  ...  ...  ...  ...  ...  ...
1722  1.0  1.0  3.0  2.0  1.0  2.0  1.0
1723  1.0  1.0  3.0  2.0  1.0  0.0  3.0
1724  1.0  1.0  3.0  2.0  0.0  1.0  2.0
1725  1.0  1.0  3.0  2.0  0.0  2.0  1.0
1726  1.0  1.0  3.0  2.0  0.0  0.0  3.0

[1727 rows x 7 columns]

### Grid Search

In [36]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
import seaborn as sns

In [37]:
data = pd.read_csv(r"C:\Users\arjun.LAPTOP-EJ7415CC\Downloads\heart.csv")

In [38]:
y = data['target']
X = data.drop(['target'], axis = 1)

In [39]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=101)

In [40]:
import numpy as np
for x in np.linspace(10,111,5):
    print(int(x))

10
35
60
85
111

In [41]:
a = np.linspace(10,80,num = 10)
a

array([10.        , 17.77777778, 25.55555556, 33.33333333, 41.11111111,
       48.88888889, 56.66666667, 64.44444444, 72.22222222, 80.        ])

In [42]:
n_estimators = [int(x) for x in np.linspace(start = 10, stop = 80, num = 10)]
max_features = ['auto', 'sqrt']
max_depth = [2,4]
min_samples_split = [2, 5]
min_samples_leaf = [1, 2]
bootstrap = [True, False]

In [43]:
param_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap}
print(param_grid)

{'n_estimators': [10, 17, 25, 33, 41, 48, 56, 64, 72, 80], 'max_features': ['auto', 'sqrt'], 'max_depth': [2, 4], 'min_samples_split': [2, 5], 'min_samples_leaf': [1, 2], 'bootstrap': [True, False]}

In [44]:
rf_Model = RandomForestClassifier()

In [45]:
from sklearn.model_selection import GridSearchCV
rf_Grid = GridSearchCV(estimator = rf_Model, param_grid = param_grid, cv = 3, verbose=2, n_jobs = 4)

In [46]:
rf_Grid.fit(X_train, y_train)

Fitting 3 folds for each of 320 candidates, totalling 960 fits

C:\Users\arjun.LAPTOP-EJ7415CC\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py:425: FitFailedWarning:
480 fits failed out of a total of 960.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
164 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\arjun.LAPTOP-EJ7415CC\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\arjun.LAPTOP-EJ7415CC\anaconda3\Lib\site-packages\sklearn\base.py", line 1144, in wrapper
    estimator._validate_params()
  File "C:\Users\arjun.LAPTOP-EJ7415CC\anaconda3\Lib\site-packages\sklearn\base.py", line 637, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\arjun.LAPTOP-EJ7415CC\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestClassifier must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'log2', 'sqrt'} or None. Got 'auto' instead.

--------------------------------------------------------------------------------
316 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\arjun.LAPTOP-EJ7415CC\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\arjun.LAPTOP-EJ7415CC\anaconda3\Lib\site-packages\sklearn\base.py", line 1144, in wrapper
    estimator._validate_params()
  File "C:\Users\arjun.LAPTOP-EJ7415CC\anaconda3\Lib\site-packages\sklearn\base.py", line 637, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\arjun.LAPTOP-EJ7415CC\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestClassifier must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'sqrt', 'log2'} or None. Got 'auto' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\arjun.LAPTOP-EJ7415CC\anaconda3\Lib\site-packages\sklearn\model_selection\_search.py:976: UserWarning: One or more of the test scores are non-finite: [       nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan 0.80180041 0.81409465
 0.81419753 0.80581276 0.79753086 0.79341564 0.8348251  0.81404321
 0.82649177 0.80164609 0.8058642  0.80596708 0.79326132 0.7808642
 0.78924897 0.81003086 0.8058642  0.81003086 0.7933642  0.80992798
 0.80159465 0.81404321 0.80591564 0.7975823  0.80570988 0.78518519
 0.79763374 0.78919753 0.7975823  0.81826132 0.78503086 0.78930041
 0.80581276 0.7975823  0.80159465 0.81003086 0.8058642  0.79737654
 0.80164609 0.80992798        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
 0.81404321 0.80992798 0.80169753 0.80159465 0.79747942 0.81399177
 0.79341564 0.80154321 0.81815844 0.80169753 0.79346708 0.82227366
 0.76872428 0.80565844 0.81414609 0.82649177 0.80169753 0.78513374
 0.7850823  0.80581276 0.77680041 0.81404321 0.82649177 0.81826132
 0.78930041 0.7975823  0.8183642  0.8183642  0.81414609 0.81404321
 0.80987654 0.79326132 0.81831276 0.805607   0.81831276 0.80987654
 0.79341564 0.80164609 0.81003086 0.80997942        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan 0.79763374 0.7933642  0.79346708 0.78930041
 0.8223251  0.80997942 0.81815844 0.80992798 0.80591564 0.7850823
 0.81399177 0.81394033 0.81820988 0.79351852 0.80565844 0.81404321
 0.83055556 0.80997942 0.8058642  0.81399177 0.7811214  0.80581276
 0.8100823  0.80159465 0.81409465 0.80987654 0.7975823  0.78924897
 0.80992798 0.81003086 0.83055556 0.80581276 0.82237654 0.81399177
 0.81404321 0.80164609 0.80576132 0.80180041 0.80576132 0.80159465
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan 0.80164609 0.78096708
 0.7933642  0.81394033 0.818107   0.80992798 0.81815844 0.80169753
 0.7933642  0.80992798 0.78101852 0.80581276 0.78523663 0.79753086
 0.80164609 0.78935185 0.80992798 0.79747942 0.80581276 0.80576132
 0.80174897 0.78513374 0.80174897 0.81826132 0.80570988 0.80581276
 0.80581276 0.79747942 0.79753086 0.82222222 0.80987654 0.81003086
 0.818107   0.80169753 0.81404321 0.81409465 0.80164609 0.79331276
 0.80977366 0.80576132]
  warnings.warn(

GridSearchCV(cv=3, estimator=RandomForestClassifier(), n_jobs=4,
             param_grid={'bootstrap': [True, False], 'max_depth': [2, 4],
                         'max_features': ['auto', 'sqrt'],
                         'min_samples_leaf': [1, 2],
                         'min_samples_split': [2, 5],
                         'n_estimators': [10, 17, 25, 33, 41, 48, 56, 64, 72,
                                          80]},
             verbose=2)

In [47]:
rf_Grid.best_params_

{'bootstrap': True,
 'max_depth': 2,
 'max_features': 'sqrt',
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'n_estimators': 56}